// misc vars
$card-width: 256px;
$card-margin: 12px;

$bgr-primary: #eeeeec;
$brg-secondary: #f6f6f5;
$bgr-foreground: #fff;
$highlight: #3949ab;

// mixins
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

// font imports
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i");

// broad styles
body {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  background-color: $bgr-primary;
}

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

html {
  padding: 0 20px;
}

// main content styles

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em 0;
  padding: 0;
}

.container {
  max-width: $card-width * 3.5 + $card-margin * 4 * 2;
  margin: auto;
  background-color: white;
  > {
    h1 {
      padding: 20px 30px;
    }
    h3 {
      padding: 0 30px;
    }
  }
}

.highlight-color {
  color: $highlight;
}

a {
  color: $highlight;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h3 {
  font-weight: normal;
  text-align: center;
}

.math-color:hover {
  color: #ff63aa;
  @include transition(color 0.25s);
}

.eng-color:hover {
  color: #be33da;
  @include transition(color 0.25s);
}

.splash {
  width: 100%;
  max-height: 420px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  img {
    width: 100%;
  }
}

.content {
  padding: 30px;
  line-height: 1.44;
}

.section-header {
  padding: 30px;
  line-height: 1.44;
  text-align: center;
  h1 {
    margin-bottom: 16px;
  }
}

.contact {
  background-color: $brg-secondary;
  padding: 0 30px;
}

.projects {
  background-color: $brg-secondary;
  text-align: center;
  padding: 20px 0;
}

.resume {
  background-color: $brg-secondary;
  text-align: right;
  padding: 20px 30px;
  line-height: 1.4;
}

// corner ribbon element

.corner-ribbon {
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  top: 14px;
  right: -70px;
  width: 200px;
  height: 30px;
  @include transform(rotate(45deg));
  text-align: center;
  font-weight: bold;
  color: #f0f0f0;
}

.corner-ribbon--winner {
  font-size: 14px;
  letter-spacing: initial;
  background-color: #43a047;
}

.corner-ribbon--highlight {
  font-size: 14px;
  letter-spacing: initial;
  background-color: #e82;
}

// main big card

.card {
  $title-height: 88px;
  $year-height: 30px;

  position: relative;
  display: inline-block;
  overflow: hidden;
  width: $card-width;
  height: $card-width + $title-height + $year-height + 2px;
  margin: $card-margin;
  vertical-align: top;
  color: #272727;
  background: #fff;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  @include transition(background 0.25s);
  &:focus,
  &:hover {
    background: $brg-secondary;
  }
  &:focus .outer-text,
  &:hover .outer-text {
    @include transform(translateY(-129px));
  }
  .title {
    font-size: 26px;
    position: relative;
    height: $title-height;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      @include transform(translate(-50%, -50%));
    }
  }
  .year {
    font-size: 15px;
    line-height: 28px;
    height: $year-height;
    border-top: 1px #b9b9b9 solid;
    background: $brg-secondary;
  }
  img {
    width: 100%;
    border-top: 1px #b9b9b9 solid;
  }
  a {
    text-decoration: initial;
    color: initial;
  }
  .outer-text {
    position: relative;
    height: 100px;
    border-top: 1px #b9b9b9 solid;
    border-bottom: 1px solid #b9b9b9;
    background: rgba(255, 255, 255, 0.95);
    @include transition(transform 300ms);
  }
  .inner-text {
    font-size: 14px;
    line-height: 1.3;
    position: absolute;
    top: 50%;
    padding: 10px;
    @include transform(translateY(-50%));
  }
}

// secondary small card

.small-card {
  height: 128px;
  .img-container {
    overflow: hidden;
    height: 100px;
    border-top: 1px #b9b9b9 solid;
  }
  img {
    @include transform(translateY(-35%));
  }
  .title {
    font-size: 16px;
    height: 24px;
    margin: 2px auto;
    padding: 0;
  }
  .outer-text {
    bottom: 30px;
  }
  &:hover > .outer-text,
  &:focus > .outer-text {
    @include transform(translateY(-100%));
  }
  .year {
    position: relative;
    bottom: 30px;
    width: 100px;
    padding: 5px, 10px;
    border-top: 1px #b9b9b9 solid;
    border-right: 1px #b9b9b9 solid;
  }
}

// mobile view

@media only screen and (max-width: $card-width * 2 + $card-margin * 8 + 20px * 2) {
  html {
    padding: 0;
  }

  .container {
    margin-top: 0;
    width: 100%;
  }

  .contact {
    margin-bottom: 0 !important;
  }

  // Make all cards small cards
  .card {
    max-width: 300px;
    width: 80%;
    height: inherit;
    .img-container {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .title {
      font-size: 18px;
      height: 40px;
    }
    &:hover > .outer-text,
    &:focus > .outer-text {
      @include transform(translateY(0));
    }
    .corner-ribbon {
      top: 0;
      left: 0;
      width: 70px;
      height: 40px;
      line-height: 40px;
      border-right: 1px #b9b9b9 solid;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      @include transform(rotate(0deg));
    }
  }

  .small-card {
    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      @include transform(translateY(0));
    }
    .outer-text {
      bottom: inherit;
      height: 75px;
    }
    .year {
      bottom: inherit;
      width: inherit;
      border-top: 1px #b9b9b9 solid;
      border-right: inherit;
    }
  }
}

// misc effects

#bulbimg {
  animation-name: huerotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes huerotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
    -moz-filter: hue-rotate(0deg);
    -ms-filter: hue-rotate(0deg);
    -o-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(180deg);
    -moz-filter: hue-rotate(180deg);
    -ms-filter: hue-rotate(180deg);
    -o-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    -o-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
